@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  list-style: none;
}
body {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}
h2,
h1,
p {
  color: #131d2c;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-family: source sans pro, sans-serif;
}
.section-center {
  width: 90vw;
  max-width: 1150px;
  margin: 0 auto;
}
/* section-1 */
main {
  padding: 0.1rem;
}
.header {
  padding: 0.5rem;
  background-color: #3a579d;
}
.navbar {
  color: white;
}
.section-1 {
  grid-area: section-1;
}
.section-2 {
  grid-area: section-2;
}
/* article-1 */
.article-1 {
  margin: 2rem 0;
}
.article-2,
.article-3,
.article-4 {
  margin: 1rem 0;
  width: 100%;
}
.div-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.div-1 h1,
h4 {
  font-family: "Arvo", serif;
}
img {
  width: 100%;
}
.btn {
  padding: 0.8rem;
  width: 140px;
  background-color: #ff0000;
  color: white;
  border: none;
  font-weight: 600;
  white-space: nowrap;
}
.btn-1 {
  background-color: #d10c0c;
}
/* end of article-1 */
/* article-2 */
.div-3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 0;
}
/* end of article-2 */
/* article-3 */
.color {
  padding: 1rem;
  background-color: #f1fac1;
  margin: 0.3rem 0;
}
/* end of article-3 */
/* article-5 */
.div-11,
.div-15,
.div-9,
.div-5 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.step {
  font-weight: bolder;
  font-size: 1.5rem;
}
/* end of article-5 */
/* article-6 */
a {
  font-weight: 500;
  color: #4b00ff;
  text-decoration: none;
}
.div-16 {
  border: 3px dashed black;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #ecffc6;
}
.btn-2 {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
}
.highlight {
  background-color: #eeff00;
  margin: 1rem 0;
}
/* end of article-6 */
/* section-2 */
aside {
  font-size: 0.9rem;
}
.aside-img1 {
  width: 100%;
}
.aside-article1 {
  text-align: center;
  padding: 0.8rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border: 2px solid gray;
}
.aside-article1 a {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Arvo", sans-serif;
}
.quotes {
  width: 20px;
  height: 20px;
}
.per {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.aside-article2 {
  margin: 2rem 0;
}
.article2-center {
  margin: 1rem 0;
}
/* end od section-2 */
/* footer */
.footer {
  background-color: #c5c5c5;
  padding: 1.5rem;
  font-size: 0.8rem;
  margin-top: 5rem;
  margin-bottom: 4.7rem;
  color: gray;
}
.footer-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn-3 {
  border: 2px dashed white;
  width: 300px;
}
.attach-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.attach-footer {
  position: fixed;
  bottom: 0;
  background-color: #3a579d;
  color: white;
  width: 100%;
  padding: 1rem;
}
.attach-center h3 {
  font-weight: lighter;
}
@media screen and (max-width: 800px) {
  .section-2 {
    margin: 5rem 0;
  }
  .footer-1 {
    text-align: center;
  }
  .attach-center {
    flex-direction: column;
    gap: 1rem;
  }
  .footer {
    margin-bottom: 0;
  }
  .main {
    width: 95vw;
  }
  .step {
    margin: 0;
  }
}
@media screen and (min-width: 1150px) {
  .main {
    display: grid;
    grid-template-columns: 60vw 25vw;
    grid-template-areas: "section-1 section-2";
    gap: 1rem;
    margin: auto;
  }
}
